{% extends 'base.html' %}

{% block content %}

{% if update %}
    <h1>Edit Feedback</h1>
{% else %}
    <h1>Add Feedback</h1>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <div>
        {{ field.label }} 
        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

{% if update %}
    <form method="POST" action="/feedback/{{ feedback.id }}/delete">
        <button type="submit" class="btn btn-danger">Delete Feedback</button>
    </form>
{% endif %}

{% endblock %}